html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Optional: prevents scrolling */
  }
  
  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-weight: 400;
    font-style: normal;
    background-color: orange;
  }
  
  #form{
    border:2px solid black;
    width:600px;
    height:700px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 10px;
    z-index: 1;
  }
  
  input{
    border-radius: 20px;
    width:300px;
    height: 50px;
    flex-grow: 1;
    margin-left: 50px;
  }
  
  .input{
    display: flex;
    flex-basis: 20%;
    }
  
    button{
      width:150px;
      height: 50px;
      border-radius: 20px;
      background-color: skyblue;
      cursor: pointer;
    }
  
    h3{
      font-size: 150%;
    }
  
    .image{
      position: relative;
      animation: myfirst 10s infinite;
    }
  
  
  @keyframes myfirst {
    0%   {   left:-35%; top:0px;}
    100%  {left:70%; top:0px;}
  
    
  }